<h1>Enter your credentials to log into your account</h1>
<br><br>
<%= form_tag("login" ,  {:method => 'get'}) do %>
  <h4>
    Username : <%= text_field_tag 'username' %><br><br>
    Password : <%= password_field_tag 'password'%><br><br><br>
    <%= submit_tag 'Login' %><br><br>
    <%= link_to 'Back', :back %>
  </h4>
<% end %>