<h1>Enter the details below to complete your Registration</h1>
<br><br>
<container>
<%= form_tag("signup" ,  {:method => 'get'}) do %>
  <h4>
      First Name : <%= text_field_tag 'firstname' %><br><br>
      Last Name : <%= text_field_tag 'lastname' %><br><br>
      Age : <%= text_field_tag 'age' %><br><br>
      Email ID : <%= text_field_tag 'email_id' %><br><br>
      Username : <%= text_field_tag 'username' %><br><br>
      Password : <%= password_field_tag 'password', type: 'hidden' %><br><br><br>
      <%= submit_tag 'Create my account' %><br><br>
  </h4>
<% end %>

<% if @user && @validemail == "yes" then %>
<p> Hi, <%= @fname %><br>
  Your account has been created successfully!
  Please <%= link_to "login", :controller => "credentials", :action => "login" %> to start managing your tasks.
</p><br><br>
  <% elsif @fname && @validemail == "no" %>
  <p> Please enter a valid email address.
  </p><br><br>
<% end %>
</container>