<p id="notice"><%= notice %></p>

<h1>Shared Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shared_tasks.each do |shared_task| %>
      <tr>
        <td><%= shared_task.name %></td>
        <td><%= shared_task.description %></td>
        <td><%= shared_task.priority %></td>
        <td><%= link_to 'Show', shared_task %></td>
        <td><%= link_to 'Edit', edit_shared_task_path(shared_task) %></td>
        <td><%= link_to 'Destroy', shared_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared Task', new_shared_task_path %>
