<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shared_task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shared_task.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @shared_task.priority %>
</p>

<%= link_to 'Edit', edit_shared_task_path(@shared_task) %> |
<%= link_to 'Back', shared_tasks_path %>
